version: "3.7"

services:
  web:
    image: vuejstodoapp-docker-compose-app:1
    build: web
    ports:
      - 8080:80
    depends_on:
      - rest_api
  rest_api:
    image: springboot-docker-compose-app:1
    build: api
    ports:
      - 8888:8888
    depends_on:
      - dbpostgresql
  dbpostgresql:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=mydb
